.home-container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url("../img/stones.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.search {

    display: flex;
    flex-direction: column;
    border: solid;
    width: 50%;
    background: rgb(255, 255, 255);
    align-items: center;
    border-radius: 60px;
    /* padding: 10px 20px; */
    font: bold;
    
}

.search input {
    background: white;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 10px;
    font-size: 20px;
    color: #022e19;
}

::placeholder {
    color: #022e19;
}

.search button img {
    width: 25px;
}

.search-button {
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background: #022e19;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #67A97B;
    color: black;
}
.latitude {
    text-align: center;
}
.longitude {
    text-align:center;
}
#apibtn {
    position: relative;
    left:500px;
}

.results-container {
    padding-bottom: 50px;
}