html {
    padding-bottom: 50px;
}

.trail-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    background-color: rgb(236, 236, 236);
    width: 70%;
    margin: auto;
    margin-top: 10px;
}html {
    padding-bottom: 50px;
}

.trail-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    background-color: rgb(236, 236, 236);
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.trail-details {
    height: 312px;
    width: 100%;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    position: relative;
}

.img-background {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    background-image: url('../img/trees.jpg');
    /* background img not needed */
}

.trail-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    margin: 0 24px;
    z-index: 1;
    color: black;
}

.trail-rating  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.trail-location {
    position: relative;
    display: block;
    line-height: 1.5;
    font-size: 18px;
    overflow: hidden;
    width: fit-content;
}

.trail-description {
    padding: 10px;
}

.trail-direction {
    padding: 10px;
}

.trail-posts {
    padding: 10px;
}

.post-field {
    height: 150px;
    font-size: 20px;
}

.author-field {
    font-size: 20px;
}

Button {
    background-color: rgb(9, 126, 48);
    border: none;
    color: white;
}

.header {
    color: white;
}

.trail-details {
    height: 312px;
    width: 100%;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    position: relative;
}

.img-background {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    background-image: url('../img/trees.jpg');
    /* background img not needed */
}

.trail-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    margin: 0 24px;
    z-index: 1;
    color: black;
}

.trail-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.trail-location {
    position: relative;
    display: block;
    line-height: 1.5;
    font-size: 18px;
    overflow: hidden;
    width: fit-content;
}

.trail-description {
    padding: 10px;
}

.trail-direction {
    padding: 10px;
}

.trail-posts {
    padding: 10px;
}


.create-post-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.create-post-input {
    padding: 10px;
    margin: 5px;
}

.create-post-button {
    position: relative;
    left: 5px;
    width: 40%;
}

.post-field {
    height: 150px;
    font-size: 20px;
}

.author-field {
    font-size: 20px;
}

Button {
    background-color: rgb(9, 126, 48);
    border: none;
    color: white;
}

.header {
    color: white;
}
