:root {
    --accent-color: #67A97B;
    --border-color: #3F5345;
}

.profile-posts-div {
    border: solid;
    border-color: var(--border-color);
    border-radius: 20px;
    padding: 20px;
    width: 850px;
}

.profile-post {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid;
    border-color: var(--border-color);
    border-radius: 8px;
    margin-bottom: 25px;
    height: 200px;
    padding: 10px;
}

.profile-posts-div :hover {
    border-color: var(--accent-color);
    cursor: pointer;
}