.trail-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
    background-color: rgb(236, 236, 236);
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.trail-details {
    height: 312px;
    width: 100%;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    position: relative;
}

.img-background {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    background-image: url('../img/Nature-photo.jpg');
    /* background img not needed */
}

.trail-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    margin: 0 24px;
    z-index: 1;
    color: black;
}

.trail-rating  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.trail-location {
    position: relative;
    display: block;
    line-height: 1.5;
    font-size: 18px;
    overflow: hidden;
    width: fit-content;
}

.trail-description {
    padding: 10px;
}

.trail-direction {
    padding: 10px;
}

.trail-posts {
    padding: 10px;
}