:root {
    --accent-color: #67A97B;
    --border-color: #3F5345;
}


.profile-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid;
    border-color: var(--border-color);
    border-radius: 20px;
}

/* Being used by everything? */
.profile-input {
    display: flex;
    background: transparent;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    border-color: var(--border-color);
    border-radius: 8px;
}

.profile-container {
    display: flex;
    justify-content: space-evenly;
    line-height: 1.1rem;
    margin-top: 5%;
}

.profile-title {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.profile-previous-posts {
    display: flex;
    flex-direction: row;
}
