:root {
    --accent-color: #67A97B;
    --border-color: #3F5345;
}


form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid;
    border-color: var(--border-color);
    border-radius: 20px;
}

/* Not being used */
input {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    border-color: var(--border-color);
    border-radius: 8px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    line-height: 1.1rem;
    margin-top: 5%;
}

.title {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.posts {
    display: flex;
    border: solid;
    border-color: var(--border-color);
    border-radius: 20px;
    padding: 20px;
    width: 800px;
    margin-bottom: 20px;
}

.post {
    display: flex;
    justify-content: center;
    border: solid;
    border-color: var(--border-color);
    border-radius: 8px;
    margin-bottom: 25px;
    height: 200px;
}

.posts :hover {
    border-color: var(--accent-color);
    cursor: pointer;
}

